@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      &__item
        width: 590px
  // .slider
  //   width: 590px
  .swiper
    &-images
      width: 780px
      height: 450px
      object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      margin-top: 10px
      &_group
        flex-basis: 100%

  .error
    &#phone-error
      top: 191px
      left: 0
    &#name-error
      top: 115px
      left: 0
@media (max-width: 992px)

  button
    &:hover
      transform: none
    &:active
      transform: none

  .container, 
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
      &__item
        width: 100%
        height: 100%
  .swiper
    &-images
      width: 700px
      height: 450px
  .booking  
    width: 340px
  .map
    width: 340px
    height: 225px
  .reviews
    &__titel
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        max-width: 580px
  
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px

  .card
    width: 48%
    height: 250px
  
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      &_group
        flex-basis: 48%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: 1 / 2
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3 
      &-form
        grid-column: span 5
        grid-row: 4
    &__info
      margin-top: 70px
      justify-content: flex-start
      &-wrapper
        padding-left: 0

  .modal
    &__dialog
      padding: 30px 60px
      max-width: 478px
    &__footer
      flex-wrap: wrap
    &__button
      order: 2
      flex-basis: 100%
    &__footer
      margin-top: 10px
    &__note
      order: 1
      flex-basis: 100%
      margin-bottom: 15px

  .error
    &#name-error
      top: 115px
      left: 0
    &#phone-error
      top: 115px
      left: 301px

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  
  body
    padding-top: 78px

  .logo
    animation-name: menuButtonDown
    animation-duration: 0.4s

  .navbar
    &__mobile
      &_fixed
        position: fixed
        right: 0
        top: 0
        left: 0
        z-index: 10
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
          animation-name: menuButtonDown
          animation-duration: 1s
    &-menu
      &__item
        animation-name: menuButtonDown
        animation-duration: 1s

    // &__search, &__user
    //   display: none
       // скрываем блок с меню to` раз, так  в прошлы были скрыты только элементы
    &-button
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: flex
    &__user
      flex-direction: column
      justify-content: center

  .breadcrumb
    &-list
      animation-name: menuButtonDown
      animation-duration: 0.5s

  .menu
    &-button
      display: flex
      width: 3px
      height: 11px
      padding: 0
      margin-right: 8px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      animation-name: menuButtonDown
      animation-duration: 0.4s
      &:focus
        outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  
  .user
    &__name
      &_light
        color: $light
        margin-left: 0
        margin-top: 10px

  .stars
    flex-basis: auto
  
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__raiting
        display: none
      &__offer
        order: -1
        margin-left: 0
      &-slider
        &__item
          display: flex
          height: 100%
          width: 100%
    &-right
      flex-direction: column
      min-height: 450px
  
  .swiper
    &-images
      display: flex
      width: 100%
      height: 350px
  
  .booking
    width: 100%
  
  .map
    width: 100%
    margin-top: 20px
  
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 92%
      flex-direction: column
      align-items: flex-start
    &__titel
      margin-bottom: 37px
      margin-top: 0

  
  .reviews
    padding-bottom: 40px
    &__titel
      font-size: 18px
      line-height: 23px
      text-align: center
      margin-left: 15%
      margin-right: 15%
    &-slider
      &__item
        padding: 0 30px 30px
        &:before, &:after
          display: none
      &__button
        top: 31px
        &--prev
          left: 53%
          margin-left: -100px
          transform: translate(-53%, 0)
        &--next
          right: 52%
          margin-right: -100px
          transform: translate(52%, 0)
  
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &-wrapper
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 100%
  
  .card
    width: 100%
    height: 255px

  .activities
    padding-top: 20px
    padding-bottom: 34px
    &__titel
      margin-bottom: 36px
          
  .footer
    &__input
      &_group
        flex-basis: 100%

  .modal
    &__dialog
      padding: 30px 40px
      min-width: 80%

  .error
    &#phone-error
      top: 191px
      left: 0
    &#name-error
      top: 115px
      left: 0
@media (max-width: 576px)

  .logo
    &__img
      width: 99px

  .hotel
    padding-bottom: 40px
    &__slider
      height: 250px
      margin-bottom: 20px

  .swiper
    &-images
      display: flex
      width: 100%
      height: 100%

  .navbar
    &__search
      &_mobile
        &_visible
          flex-basis: 70%

  .newsletter
    padding: 76px 0 83px 0
    &__titel
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px

  .subscribe
    width: 100%

  .reviews
    padding-bottom: 50px
    &__titel
      margin-bottom: 42px 
      // width: 100%
      // padding-left: 38px
      // padding-right: 38px

  .activities
    padding-top: 40px
    &__titel
      margin-top: 0
    &-wrapper
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 100%
    &__card
      width: 100%
      height: 255px
  
  .footer
    padding-top: 69px
    padding-bottom: 100px
    &-wrapper
      grid-template-columns: minmax(250px, 526px)
      grid-gap: 30px
      
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        display: flex
        flex-direction: column
        grid-row: 2
        grid-column: 1
      &-links
        width: 85px
        margin-top: 20px
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__note
      order: 1
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 2
    &__info
      justify-content: flex-start
      margin-top: 30px
    &__pay
      left: 0
      top: 50px
      right: 50%

  .modal
    &__message
      margin-top: 35px

@media (max-width: 320px)
  .container
    width: 87%

  .hotel
    &-info
      &__text
        &_hidden
          display: block
    &__slider
      width: 279px
      height: 144px
    &-slider
      &__button
        &--next
          height: 11px
          width: 11px
        &--prev
          height: 11px
          width: 11px

  .booking
    padding: 29px 22px 26px 222 


  

