* 
  box-sizing: border-box

body 
  font-family: 'Muli', sans-serif
  background-color: $secondary
  color: $text-color

.container 
  max-width: 1110px
  margin: auto

// img
//   width: 100%

.input
  background: #FFFFFF
  border-radius: 4px
  border: none
  padding: 0 23px
  height: 50px

.message
  background: #FFFFFF
  border-radius: 4px
  padding: 18px 23px
  border: none

.button
  min-width: 160px
  min-height: 50px
  padding: 18px
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  color: $light
  background-color: $primary
  border: none
  border-radius: 4px
  cursor: pointer

.invalid
  color: #f75252
  text-transform: capitalize

label
  position: absolute
  top: 100%
  left: 0
  font-size: 12px
  margin-top: 5px




